<html>
    <head>
        <title>
            Twitter
        </title>
    </head>
    <body>
        <a href="/">Home</a>
        <br/>
        <% if (followers.length) { %>
            Followers:
            <% for (var i = 0; i < followers.length; ++i) { %>
                <div><a href="/<%= followers[i] %>"><%= followers[i] %></a></div>
            <% } %>
        <% } %>
        <% if (cookie_user && url_user) { %>
            <% if (cookie_user.id == url_user.id) { %>
                <% for (key in pending) { %>
                    <% if (pending[key] == cookie_user.id) { %>
                       <a href="/follow/<%= key %>">Accept following <%= key %></a>
                    <% } %>
                <% } %>
                <form action='/tweet' method='post'>
                    <textarea name='message' style='width: 250px; height: 100px;'></textarea>
                    <br/>
                    <input type='submit' value='Tweet!'>
                </form>
            <% } else { %>
                <% if (cookie_user.id in pending) { %>
                    <p>Pending</p>
                <% } else { %>
                   <% if (followers.indexOf(cookie_user.id) == -1) { %>
                        <a href="/tryfollow/<%= url_user.id %>">Follow</a>
                        <br/>
                    <% } else { %>
                        <p>Followed</p>
                    <% } %>
                <% } %>
            <% } %>
        <% } %>
        <% if (tweets) { %>
           <% for (var i = 0; i < tweets.length; ++i) { %>
            <hr/>
                <% if (i == 0) { %>
                   <div id='last_tweet'><%= tweets[i].tweet %></div>
                <% } else { %>
                    <div><%= tweets[i].tweet %></div>
                <% } %>
            <hr/>
            <% } %>
        <% } %>
    </body>
</html>
