<html>
    <head>
        <title>
            Twitter
        </title>
    </head>
    <body>
        <a href="/">Home</a>
        <br/>
        <% if (cookie_user && url_user) { %>
            <% if (cookie_user.id == url_user.id) { %>
                <% for (key in cookie_user.pending_followers) { %>
                    <a href="/follow/<%= key %>">Accept following <%= key %></a>
                <% } %>
                <form action='/tweet' method='post'>
                    <textarea name='message' style='width: 250px; height: 100px;'></textarea>
                    <br/>
                    <input type='submit' value='Tweet!'>
                </form>
            <% } else { %>
                <%= JSON.stringify(url_user) %>
                <%= JSON.stringify(cookie_user) %>
                <% if (url_user.pending_followers[cookie_user.id]) { %>
                    <p>Pending</p>
                <% } else { %>
                   <% if (url_user.followers.indexOf(cookie_user.id) == -1) { %>
                        <a href="/tryfollow/<%= url_user.id %>">Follow</a>
                        <br/>
                    <% } else { %>
                        <p>Followed</p>
                    <% } %>
                <% } %>
            <% } %>
        <% } %>
        <% if (tweets) { %>
           <% for (var i = 0; i < tweets.length; ++i) { %>
            <hr/>
                <% if (i == 0) { %>
                   <div id='last_tweet'><%= tweets[i].tweet %></div>
                <% } else { %>
                    <div><%= tweets[i].tweet %></div>
                <% } %>
                <a href="/retweet/<%= tweets[i].id %>">Retweet</a>
            <hr/>
            <% } %>
        <% } %>
    </body>
</html>
